* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cl-white: #ffffff;
    --cl-dark: #011c27;
    --cl-purple: #3d30a2;
    --cl-light: #f8f7f5;
}

body {
    background-color: var(--cl-light);
    min-height: 100vh;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    display: grid;
}

main {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

#main_nav {
    background-color: var(--cl-purple);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    padding-inline: 5%;
    padding-block: 2rem;
    align-items: center;
}

#logo_container {
    display: grid;
    place-items: center;
}

#main_nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#main_nav ul li {
    display: flex;
    font-size: 1.2rem;
    color: white;
}

.user_actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user_actions p {
    color: var(--cl-white);
    text-align: center;
    font-size: 1.2rem;
}

.user_account {
    max-width: 2rem;
}

footer {
    display: grid;
    place-items: center;
    background-color: var(--cl-purple);
    color: var(--cl-white);
    font-size: 1.2rem;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Flash messages */

.flash-message {
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
}

.flash-message.message-error {
    border: 1px solid var(--cl-dark);
    background-color: var(--cl-purple);
    color: var(--cl-white);
}