/* Début : général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cl-white: #ffffff;
    --cl-black: #020202;
    --cl-dark: #011c27;
    --cl-light-purple: #B15EFF;
    --cl-purple: #3d30a2;
    --cl-orange: #FFA33C;
    --cl-yellow: #F0DE36;
    --cl-light: #f8f7f5;
    --ft-primary: "Fredoka", sans-serif;
    --ft-secondary: "Comfortaa", sans-serif;
}

body {
    background-color: var(--cl-light);
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--ft-secondary);
    display: grid;
}

main {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}
/* Fin : général */


/* Début : header */

header {
    background-image: url('../images/separator/simple_wave.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#nav_container a{
    transition: color 0.5s;
}

#nav_container a:hover{
    color: var(--cl-yellow);
}

#main_nav {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    padding-inline: 5%;
}

#nav_container {
    font-family: var(--ft-secondary);
    font-size: 1.2rem;
    color: var(--cl-white);
}

#logo_container {
    display: grid;
    place-items: center;
}

#connexion_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main_nav ul {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;

}

#main_nav ul li {
    display: flex;
}

/* Fin : header */


/* Début : footer */

footer {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer #wave{
    height: 8rem;
    width: 100%;
    background-image: url('../images/separator/footer_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer #content{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cl-purple);
}

footer #content ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--cl-white);
    padding: 2rem;
}

footer #content ul:first-child{
 align-items: flex-start;
}

footer #content ul:last-child{
    align-items: flex-end;
}

footer #content ul li{
    padding: 0.5rem;
}

footer #content ul li a{
    transition: color 0.5s;
}

footer #content ul li a:hover{
    color: var(--cl-yellow);
}

footer #content #logo {
    display: flex;
    align-items: center;
}
 
footer #content #logo img{
    width: 5rem;
    height: 5rem;
}

footer #copyright{
    color: var(--cl-white);
    background-color: var(--cl-black);
    padding: 0.8rem;
    text-align: center;
}

/* Fin : footer */

/* Début : Boutons */

.button-y {
    font-family: var(--ft-primary);
    font-weight: bold;
    color: var(--cl-purple);
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid var(--cl-yellow);
    border-radius: 8px;
    background-color: var(--cl-light);
    -webkit-box-shadow: 3px 3px 0px 0px var(--cl-yellow);
    box-shadow: 3px 3px 0px 0px var(--cl-yellow);
    transition: box-shadow, -webkit-box-shadow 0.5s;
}
.button-y:hover{
    -webkit-box-shadow: 0px 0px 0px 0px var(--cl-yellow);
    box-shadow: 0px 0px 0px 0px var(--cl-yellow);
}

.button-p {
    font-family: var(--ft-primary);
    font-weight: bold;
    color: var(--cl-purple);
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid var(--cl-purple);
    border-radius: 8px;
    background-color: var(--cl-light);
    -webkit-box-shadow: 3px 3px 0px 0px var(--cl-purple);
    box-shadow: 3px 3px 0px 0px var(--cl-purple);
    transition: box-shadow, -webkit-box-shadow 0.5s;
}
.button-p:hover{
    -webkit-box-shadow: 0px 0px 0px 0px var(--cl-purple);
    box-shadow: 0px 0px 0px 0px var(--cl-purple);
}
/* Fin : boutons */
