<footer>
    <div id="wave"></div>
    <div id="content">
        <ul>
            <li><a href="{{ path('app_home') }}">MathVenture</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Conditions générales d'utilisation </a></li>
        </ul>
        <a href="{{ path('app_home') }}" id="logo">
            <img src="{{ asset('assets/images/logo_solo.svg') }}" alt="" />
        </a>
        <ul>
            <li><a href="">Mon compte</a></li>
            <li><a href="">Aide</a></li>
            <li><a href="">Nos formations</a></li>
            <li><a href="">Préférences et cookies</a></li>
        </ul>
    </div>
    <div id="copyright">
        <p>© Copyright 2024</p>
    </div>
</footer>